<!--
  hier muss die Oberfläche für die Punktetabelle erstellt werden
-->
<div class="jahrWaehlen">
  <button (click)="selected2019();">2019</button>
  <button (click)="selected2020();">2020</button>
</div>

<table class="pure-table pure-table-horizontal">
  <thead>
    <tr>
      <!--
        Der Tabellenkopf muss hier noch erweitert werden
        Gefordert sind: Platz, Vereinsbezeichnung, eigene Tore, Gegentore, Tordifferenz und der Punktestand
      -->
      <th>Platz</th>
      <th>Vereinsbezeichnung</th>
      <th>eigene Tore</th>
      <th>Gegentore</th>
      <th>Tordifferenz</th>
      <th>Punktestand</th>
    </tr>
  </thead>
  <tbody>
    <!-- Diese Tabellenzeile (zwischen tr) muss für alle Teams erfolgen. In der spielttag.component.html findest du ein Beispiel dafür wie man etwas für mehrere Elemente wiederholt -->
    <tr class="tabelle" *ngFor="let team of tabelle.teams">
      <td>{{tabelle.teams.indexOf(team)+1}}</td>
      <td>{{team.name}}</td>
      <!-- Denke daran es gibt noch mehr Details zu einem Team-->
      <td>{{team.goalsFor}}</td>
      <td>{{team.goalsAgainst}}</td>
      <td>{{team.diff}}</td>
      <td>{{team.points}}</td>
    </tr>
  </tbody>
</table>
