table {
    width: 100%;
}

.tabelle {

}

.tabelle:nth-child(1), .tabelle:nth-child(2), .tabelle:nth-child(3), .tabelle:nth-child(4){
    border-left: 4px solid green;
}

.tabelle:nth-child(5){
    border-left: 4px solid blue;
}

.tabelle:nth-child(6){
    border-left: 4px solid lightblue;
}

.tabelle:nth-child(16){
    border-left: 4px solid orange;
}

.tabelle:nth-child(17), .tabelle:nth-child(18){
    border-left: 4px solid red;   
}