/* You can add global styles to this file, and also import other style files */
body {
    background-color: #e5e5e5;
    font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif; 
}

button {
    background-color: #B81F40!important;
    color: white;
    padding: 10px;
    border: 0;
}